/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2020, 2:55:24 PM
    Author     : Alionie
*/

.fas, .fa-camera-retro, .fa-envelope, .fa-facebook, .fa-igloo, .fa-instagram, .fa-linkedin, .fa-map-marker-alt,
.fa-phone, .fa-pinterest-square,  .far, .fab, .far, .fa-user {
    width: 1em;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
footer, header, main, menu, nav, section {
    display:block;
}

body {
    margin: 0;
    font-family: "Castellar", serif;
    overflow-x: hidden;
}
.grid {
    display: grid;
    grid-template-columns: 120px auto;
    grid-template-rows: min-content auto min-content;
    grid-gap: 8px;
    grid-template-areas: "sidebar-1 header"
        "sidebar-1 article"
        "sidebar-1 footer";   

    min-height: 100vh;
}
header {
    grid-area: header;
}

footer {
    grid-area: footer;
}

.sidebar-left {
    grid-area: sidebar-1;
    background-color: #cceeff;
    color: #abb5ba;
    margin-bottom: 0;
}

article {
    grid-area: article;
    margin-left: 35px;
    margin-right: 35px;
}

h2 {
    letter-spacing: 0.4rem;
}

.center {
    text-align: center;
}

.left-align {
    text-align: left;
}

.bar-item {
    display: block;
}

.button {
    display:block;
    cursor: pointer;
    border-bottom: 1px grey; 
}
.button:last-child {
    border-bottom: none;
}

.padding-large {padding: 12px 24px;}
.padding-64 {padding-top: 64px; padding-bottom: 64px;}
.padding-32 {padding-top: 32px; padding-bottom: 32px;}
.padding-24 {padding-top: 24px; padding-bottom: 24px;}
.padding-16 {padding-top: 16px; padding-bottom: 16px;}
.padding-12 {padding-top: 12px; padding-bottom: 12px;}
.small{
    font-size: 0.75rem;
}
.medium {
    font-size: 1rem;
}
.jumbo {
    font-size: 3rem; 
}
.xlarge {
    font-size: 1.5rem;
}
.xxlarge {
    font-size: 2rem; /* 32px */
}

.wide {letter-spacing: 4px;}
.margin-left {margin-left: 35px;}
.margin-right {margin-right: 16px;}

.shadow {
    filter: drop-shadow(3px 2px black);
}

.hr-grey {
    color: #f0f0f5;
    width: 50%;
}

.half {
    float:left;
    width: 100%;
}

.half > img {
    width: 90%;
}

.opacity {
    opacity:0.70
}
.hover-opacity-off:hover {
    opacity: 1
}
.cursor {
    cursor: pointer;
}
.hover-black:hover{
    color: #fff;
    background-color: #000;
} /*Color:white; background-color:black */
a:link {
    color: #7a00cc;
}
a:visited {
    color:  #330066;
}
a:hover {
    color:  #cc99ff;
}
a:active {
    color: #5c5cd6;
}

article > img {
    max-width: 100%;
    height: auto;
}

.justify {
    text-align: justify;
}
.quarter {
    flex-basis: min-content; 
    padding: 1em;
}

.top,.bottom{ 
    position: fixed;
    width: 100%;
    z-index: 1;
}


.top{top:0}
.bottom{bottom:0}

.bar{
    width:100%;
    overflow:hidden;
}
.center .bar{
    width: auto;
}
.bar .bar-item{
    padding:8px 16px;
    float:left;
    width:auto;
    border:none;
    display:block;
    outline:0;
}
.bar {
    position:static;
    float:left
}
.bar .button {
    white-space: normal;
}
.bar-block .bar-item{
    width: 100%;
    display: inline-block;
    padding: 8px 16px;
    text-align: left;
    border: none;
    white-space: normal;
    float: none;
    outline: 0
}

bar-block.center .bar-item{ /*Check this line*/
    text-align: center;
}

.content {
    max-width: calc(100%-70px);
}
.row-padding {
    margin: 0 -1em;
}
.bar:before, .bar:after,
.center:before,.center:after, .row-padding:before, .row-padding:after {
    content: "";
    display: table; 
    clear: both;
}
#AutoCAD {
    width:95%;
}
#CorelDRAW {
    width:90%;
}
#AdobeIllustrator {
    width:90%;
}
#AdobeInDesign {
    width:80%;
}



/*Colors*/
.white {
    background-color: #ffffff;
    color: #abb5ba;
}
.white-blue {
    background-color: #cceeff;
}
.grey-text {
    color:  #5c6970;
}
.blue {
    background-color: #80d4ff;
}
.dark-blue {
    background-color: #4da6ff;
}
.purple {
    color: #7a00cc;
    text-decoration: none;
}

.text-purple {
    text-decoration: none;
}
.text-purple:hover {
    text-decoration: none;
}

/*Fonts*/

.alternative-font {
    font-family: MV Boli;
}

.pricing {
    width: 100%;
}

p.wide, span.wide {
    font-family: Times New Roman; 
    font-size: 16px;
}

.blue-blocks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

div.white-blue > div.blue {
    height: 1.75rem;
}

img {
    width: 100%;
}

.img-gallery {
    border: 3px solid #ccc;
}
.img-gallery:hover {
    border: 3px solid #777;
}
.sidebar-left > .button {
    width: 100%;
}

@media (max-width: 600px) {
    .mobile {
        position: relative;       
    }
    .hide-small {
        display: none;
    }
    .grid {
        display: block;
    }
}

@media (min-width:601px) {
    .half{
        width: 50%;
    }
}

@media (min-width:993px) {
    .content {
        margin-left:auto; 
        margin-right:auto;
    }
}

@media (min-width:993px){
    .hide-large {
        display: none;
    }
    .sidebar{
        display: block;
    }
}

@media (max-width:992px) and (min-width:601px) {
    .hide-medium{
        display: none;
    }
}

@media (max-width:992px){
    .sidebar {
        display:none;
    }
}
